<div class="user-details">
  <h1> Blog </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/uinsuska.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <ul>
      <li> UIN SUSKA RIAU</li>
    </ul>
    <p>LUniversitas Islam Negeri Sultan Syarif Kasim (UIN Suska) Riau dalam bahasa Arab adalah  جامعة السلطان شريف قاسم الإسلامية اﻟﺤﻜﻮمية رياو dan dalam bahasa Inggris adalah State Islamic University of Sultan Syarif Kasim Riau merupakan hasil pengembangan/ peningkatan status pendidikan dari Institut Agama Islam Negeri (IAIN) Sulthan Syarif Qasim Pekanbaru yang secara resmi dikukuhkan berdasarkan Peraturan Presiden RI Nomor 2 Tahun 2005 tanggal 4 Januari 2005 tentang Perubahan IAIN Sulthan Syarif Qasim Pekanbaru menjadi UIN Sultan Syarif Kasim Riau dan diresmikan pada 9 Februari 2005 oleh Presiden RI, Bapak Dr. H. Susilo Bambang Yudhoyono sebagai tindak lanjut perubahan status ini, Menteri Agama RI menetapkan Organisasi dan Tata kerja UIN Suska Riau berdasarkan Peraturan Menteri Agama RI Nomor 8 Tahun 2005 tanggal 4 April 2005.</p>
    <a class="project-link" href="https://uin-suska.ac.id">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/himasi.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
  <ul>
      <li> SISTEM INFORMASI</li>
    </ul>
    <p>Kurikulum Jurusan Sistem Informasi mengacu kepada Kurikulum Nasional dengan pengelompokan berdasarkan Surat Keputusan Menteri Pendidikan Nasional RI Nomor 232 tahun 2000 tentang Pedoman Penyusunan Kurikulum Pendidikan Tinggi dan Penilaian Hasil Belajar Mahasiswa, yaitu Kelompok mata kuliah pengembangan kepribadian (MPK), kelompok mata kuliah keilmuan dan ketrampilan (MKK), kelompok mata kuliah keahlian berkarya (MKB), kelompok mata kuliah prilaku berkarya (MPB) dan kelompok mata kuliah berkehidupan bermasyarakat (MBB). Total beban SKS untuk program sarjana (S1) sekitar 147 SKS yang dapat ditempuh selama 8 semester.</p>
    <a class="project-link" href="https://sif.uin-suska.ac.id">Check it out</a>
  </div>
</div>
